In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas
import random
import numpy as np
from celery_tasks.data_process import Processor

In [3]:
def get_string_column(class_num=5, row_num=20, str_len=3):
    all_string = [''.join(np.random.choice(list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'), str_len)) for i in range(class_num)]
    return [np.random.choice(all_string) for i in range(row)]

In [6]:
number = 5
string = 2
row = 20
null = 10
data = pandas.DataFrame(np.random.random((row, number)) * 100, columns=['number%d'%i for i in range(number)])
for i in range(string):
    data['string%d' % i] = get_string_column()

for i in range(null):
    data.iloc[np.random.randint(0, row), np.random.randint(0, number + string)] = None

In [7]:
data

      number0    number1    number2    number3    number4 string0 string1
0   74.540619   7.840181  31.406592        NaN   0.526811     CNI     YTE
1   37.447117  89.928882  93.820891  33.015332  39.312795     RMJ     YTE
2   89.611490  57.776628  65.195339  92.362467  21.009104     HGN     PMH
3   37.932367  84.067851  99.231223  58.697508  71.428418     QGL     IFQ
4   79.815576  22.937563  96.553141  62.945869  77.573560     QGL     YTE
5   97.599891  59.577701  76.561726  76.233713  82.235974     RMJ    None
6   47.870065  35.235253  89.241422  34.915780        NaN     HGN     YTE
7   83.140191  72.473687  70.772299   0.203053  40.094305     HGN     PMH
8   44.778394  97.549223  48.719006  17.420921  76.960830     QGL     ZFZ
9    9.845479  80.959180  75.158266  53.539058  78.836215     QGL     SJB
10        NaN   8.775159  89.671502   6.177324        NaN     KJN     IFQ
11  85.830155  32.185812  33.846455  29.151080  51.107426     RMJ     YTE
12  69.749231  95.822691  93.254608        NaN  29.209528     HGN     PMH
13        NaN  94.488188  54.275164  81.316682  33.526600    None     YTE
14  65.583012  21.921843  26.268951  63.417636  67.535901     CNI     YTE
15        NaN  30.550101  33.829449  56.700548  68.505892     QGL     PMH
16  91.764587   1.259261  80.537317  95.287410  37.996704     QGL     ZFZ
17  78.008390  48.852234  32.166304        NaN  84.955211     QGL     IFQ
18  90.767578  56.494622  22.065807  84.437460  83.578507     CNI     ZFZ
19  97.877556   3.901882  44.270534  70.492026   9.162696     QGL     PMH

In [24]:
p = Processor(data)
p.data

      number0    number1    number2    number3    number4 string0 string1
0   74.540619   7.840181  31.406592        NaN   0.526811     CNI     YTE
1   37.447117  89.928882  93.820891  33.015332  39.312795     RMJ     YTE
2   89.611490  57.776628  65.195339  92.362467  21.009104     HGN     PMH
3   37.932367  84.067851  99.231223  58.697508  71.428418     QGL     IFQ
4   79.815576  22.937563  96.553141  62.945869  77.573560     QGL     YTE
5   97.599891  59.577701  76.561726  76.233713  82.235974     RMJ    None
6   47.870065  35.235253  89.241422  34.915780        NaN     HGN     YTE
7   83.140191  72.473687  70.772299   0.203053  40.094305     HGN     PMH
8   44.778394  97.549223  48.719006  17.420921  76.960830     QGL     ZFZ
9    9.845479  80.959180  75.158266  53.539058  78.836215     QGL     SJB
10        NaN   8.775159  89.671502   6.177324        NaN     KJN     IFQ
11  85.830155  32.185812  33.846455  29.151080  51.107426     RMJ     YTE
12  69.749231  95.822691  93.254608        NaN  29.209528     HGN     PMH
13        NaN  94.488188  54.275164  81.316682  33.526600    None     YTE
14  65.583012  21.921843  26.268951  63.417636  67.535901     CNI     YTE
15        NaN  30.550101  33.829449  56.700548  68.505892     QGL     PMH
16  91.764587   1.259261  80.537317  95.287410  37.996704     QGL     ZFZ
17  78.008390  48.852234  32.166304        NaN  84.955211     QGL     IFQ
18  90.767578  56.494622  22.065807  84.437460  83.578507     CNI     ZFZ
19  97.877556   3.901882  44.270534  70.492026   9.162696     QGL     PMH

In [26]:
p.fill_missing()
p.data

      number0    number1    number2    number3    number4 string0 string1
0   74.540619   7.840181  31.406592  53.900816   0.526811     CNI     YTE
1   37.447117  89.928882  93.820891  33.015332  39.312795     RMJ     YTE
2   89.611490  57.776628  65.195339  92.362467  21.009104     HGN     PMH
3   37.932367  84.067851  99.231223  58.697508  71.428418     QGL     IFQ
4   79.815576  22.937563  96.553141  62.945869  77.573560     QGL     YTE
5   97.599891  59.577701  76.561726  76.233713  82.235974     RMJ    None
6   47.870065  35.235253  89.241422  34.915780  52.975360     HGN     YTE
7   83.140191  72.473687  70.772299   0.203053  40.094305     HGN     PMH
8   44.778394  97.549223  48.719006  17.420921  76.960830     QGL     ZFZ
9    9.845479  80.959180  75.158266  53.539058  78.836215     QGL     SJB
10  69.538923   8.775159  89.671502   6.177324  52.975360     KJN     IFQ
11  85.830155  32.185812  33.846455  29.151080  51.107426     RMJ     YTE
12  69.749231  95.822691  93.254608  53.900816  29.209528     HGN     PMH
13  69.538923  94.488188  54.275164  81.316682  33.526600    None     YTE
14  65.583012  21.921843  26.268951  63.417636  67.535901     CNI     YTE
15  69.538923  30.550101  33.829449  56.700548  68.505892     QGL     PMH
16  91.764587   1.259261  80.537317  95.287410  37.996704     QGL     ZFZ
17  78.008390  48.852234  32.166304  53.900816  84.955211     QGL     IFQ
18  90.767578  56.494622  22.065807  84.437460  83.578507     CNI     ZFZ
19  97.877556   3.901882  44.270534  70.492026   9.162696     QGL     PMH

In [27]:
p.one_hot()
p.data

one hot for string0
one hot for string1

,number0,number1,number2,number3,number4,string0_CNI,string0_RMJ,string0_HGN,string0_QGL,string0_KJN,string1_YTE,string1_PMH,string1_IFQ,string1_ZFZ,string1_SJB
0,74.540619,7.840181,31.406592,53.900816,0.526811,1,0,0,0,0,1,0,0,0,0
1,37.447117,89.928882,93.820891,33.015332,39.312795,0,1,0,0,0,0,0,0,0,0
2,89.611490,57.776628,65.195339,92.362467,21.009104,0,0,1,0,0,0,1,0,0,0
3,37.932367,84.067851,99.231223,58.697508,71.428418,0,0,0,1,0,0,0,1,0,0
4,79.815576,22.937563,96.553141,62.945869,77.573560,0,0,0,0,0,0,0,0,0,0
5,97.599891,59.577701,76.561726,76.233713,82.235974,0,0,0,0,0,0,0,0,0,0
6,47.870065,35.235253,89.241422,34.915780,52.975360,0,0,0,0,0,0,0,0,0,0
7,83.140191,72.473687,70.772299,0.203053,40.094305,0,0,0,0,0,0,0,0,0,0
8,44.778394,97.549223,48.719006,17.420921,76.960830,0,0,0,0,0,0,0,0,1,0
9,9.845479,80.959180,75.158266,53.539058,78.836215,0,0,0,0,0,0,0,0,0,1
10,69.538923,8.775159,89.671502,6.177324,52.975360,0,0,0,0,1,0,0,0,0,0
11,85.830155,32.185812,33.846455,29.151080,51.107426,0,0,0,0,0,0,0,0,0,0
12,69.749231,95.822691,93.254608,53.900816,29.209528,0,0,0,0,0,0,0,0,0,0
13,69.538923,94.488188,54.275164,81.316682,33.526600,0,0,0,0,0,0,0,0,0,0
14,65.583012,21.921843,26.268951,63.417636,67.535901,0,0,0,0,0,0,0,0,0,0
15,69.538923,30.550101,33.829449,56.700548,68.505892,0,0,0,0,0,0,0,0,0,0
16,91.764587,1.259261,80.537317,95.287410,37.996704,0,0,0,0,0,0,0,0,0,0
17,78.008390,48.852234,32.166304,53.900816,84.955211,0,0,0,0,0,0,0,0,0,0
18,90.767578,56.494622,22.065807,84.437460,83.578507,0,0,0,0,0,0,0,0,0,0
19,97.877556,3.901882,44.270534,70.492026,9.162696,0,0,0,0,0,0,0,0,0,0

In [79]:
p.add_column('colnew', 'number0', 'log1p')

In [80]:
p.data

      number0    number1    number2    number3    number4 string    colnew
0   34.412045  23.076917  60.301732  64.515742  37.242216  LAGRD  3.567052
1   49.407635   8.414021  75.337183  51.989965  32.368053  KEJZI  3.920143
2   56.751231  42.744356  61.624886  11.604366  29.195266  KEJZI  4.056145
3   51.418333  31.974027        NaN  56.939946  95.774533  LAGRD  3.959256
4   49.517255  32.325271  54.368035  22.959903  78.870959  NRLOY  3.922315
5    4.428644   6.152996  66.780723  63.842327  12.027055  KEJZI  1.691689
6   47.192249  26.842777  27.147514  54.434958  93.878344  KEJZI  3.875198
7   78.606999  61.228702  57.367961  69.358519  53.746269  XMLHL  4.377102
8   40.921401   8.211149  72.807225  85.992666  55.762414  XMLHL  3.735796
9         NaN  85.225585  48.084710  85.344106  79.644796  JXSNQ       NaN
10  17.096399  50.592307  55.482412  81.745106  86.243778   None  2.895713
11  14.154912  28.452611        NaN   8.754673        NaN  NRLOY  2.718325
12  91.296761  62.639945  94.771789  19.217419  53.134168  LAGRD  4.525009
13  48.095410  45.387543        NaN  88.982419  84.996798  NRLOY  3.893766
14  13.421976  42.204381  45.483649   9.147932  83.133663  NRLOY  2.668753
15  41.130314  52.061881        NaN  99.343719  47.295423  JXSNQ  3.740768
16  99.544699        NaN  58.639090  40.659360  21.920883  NRLOY  4.610602
17   8.973272  92.125726  80.469448  80.459450        NaN  XMLHL  2.299909
18  20.353411        NaN  76.419358  59.888407   3.573520  LAGRD  3.061212
19  64.079308  46.968474  28.225950  17.866507  60.448061  XMLHL  4.175607

In [29]:
p=Processor(data)
p.data

      number0    number1    number2    number3    number4 string0 string1
0   74.540619   7.840181  31.406592        NaN   0.526811     CNI     YTE
1   37.447117  89.928882  93.820891  33.015332  39.312795     RMJ     YTE
2   89.611490  57.776628  65.195339  92.362467  21.009104     HGN     PMH
3   37.932367  84.067851  99.231223  58.697508  71.428418     QGL     IFQ
4   79.815576  22.937563  96.553141  62.945869  77.573560     QGL     YTE
5   97.599891  59.577701  76.561726  76.233713  82.235974     RMJ    None
6   47.870065  35.235253  89.241422  34.915780        NaN     HGN     YTE
7   83.140191  72.473687  70.772299   0.203053  40.094305     HGN     PMH
8   44.778394  97.549223  48.719006  17.420921  76.960830     QGL     ZFZ
9    9.845479  80.959180  75.158266  53.539058  78.836215     QGL     SJB
10        NaN   8.775159  89.671502   6.177324        NaN     KJN     IFQ
11  85.830155  32.185812  33.846455  29.151080  51.107426     RMJ     YTE
12  69.749231  95.822691  93.254608        NaN  29.209528     HGN     PMH
13        NaN  94.488188  54.275164  81.316682  33.526600    None     YTE
14  65.583012  21.921843  26.268951  63.417636  67.535901     CNI     YTE
15        NaN  30.550101  33.829449  56.700548  68.505892     QGL     PMH
16  91.764587   1.259261  80.537317  95.287410  37.996704     QGL     ZFZ
17  78.008390  48.852234  32.166304        NaN  84.955211     QGL     IFQ
18  90.767578  56.494622  22.065807  84.437460  83.578507     CNI     ZFZ
19  97.877556   3.901882  44.270534  70.492026   9.162696     QGL     PMH

In [31]:
p.records = records
p.redo(records)
p.data

Do: fillna
Do: fillna
Do: fillna
Do: fillna
Do: fillna
Do: fillna
Do: one_hot_encoding
one hot for string0
one hot for string1

,number0,number1,number2,number3,number4,string0_CNI,string0_RMJ,string0_HGN,string0_QGL,string0_KJN,string1_YTE,string1_PMH,string1_IFQ,string1_ZFZ,string1_SJB
0,74.540619,7.840181,31.406592,53.900816,0.526811,1,0,0,0,0,1,0,0,0,0
1,37.447117,89.928882,93.820891,33.015332,39.312795,0,1,0,0,0,0,0,0,0,0
2,89.611490,57.776628,65.195339,92.362467,21.009104,0,0,1,0,0,0,1,0,0,0
3,37.932367,84.067851,99.231223,58.697508,71.428418,0,0,0,1,0,0,0,1,0,0
4,79.815576,22.937563,96.553141,62.945869,77.573560,0,0,0,0,0,0,0,0,0,0
5,97.599891,59.577701,76.561726,76.233713,82.235974,0,0,0,0,0,0,0,0,0,0
6,47.870065,35.235253,89.241422,34.915780,52.975360,0,0,0,0,0,0,0,0,0,0
7,83.140191,72.473687,70.772299,0.203053,40.094305,0,0,0,0,0,0,0,0,0,0
8,44.778394,97.549223,48.719006,17.420921,76.960830,0,0,0,0,0,0,0,0,1,0
9,9.845479,80.959180,75.158266,53.539058,78.836215,0,0,0,0,0,0,0,0,0,1
10,69.538923,8.775159,89.671502,6.177324,52.975360,0,0,0,0,1,0,0,0,0,0
11,85.830155,32.185812,33.846455,29.151080,51.107426,0,0,0,0,0,0,0,0,0,0
12,69.749231,95.822691,93.254608,53.900816,29.209528,0,0,0,0,0,0,0,0,0,0
13,69.538923,94.488188,54.275164,81.316682,33.526600,0,0,0,0,0,0,0,0,0,0
14,65.583012,21.921843,26.268951,63.417636,67.535901,0,0,0,0,0,0,0,0,0,0
15,69.538923,30.550101,33.829449,56.700548,68.505892,0,0,0,0,0,0,0,0,0,0
16,91.764587,1.259261,80.537317,95.287410,37.996704,0,0,0,0,0,0,0,0,0,0
17,78.008390,48.852234,32.166304,53.900816,84.955211,0,0,0,0,0,0,0,0,0,0
18,90.767578,56.494622,22.065807,84.437460,83.578507,0,0,0,0,0,0,0,0,0,0
19,97.877556,3.901882,44.270534,70.492026,9.162696,0,0,0,0,0,0,0,0,0,0

In [28]:
records = p.records
records

[{'args': {'column': 'number0', 'fill_with': 69.53892345252495},
  'name': 'fillna'},
 {'args': {'column': 'number0', 'fill_with': 69.53892345252498},
  'name': 'fillna'},
 {'args': {'column': 'number1', 'fill_with': 50.12989709227748},
  'name': 'fillna'},
 {'args': {'column': 'number2', 'fill_with': 62.842299748586605},
  'name': 'fillna'},
 {'args': {'column': 'number3', 'fill_with': 53.900815721306955},
  'name': 'fillna'},
 {'args': {'column': 'number4', 'fill_with': 52.975359842849855},
  'name': 'fillna'},
 {'args': {'items': {'string0': ['CNI', 'RMJ', 'HGN', 'QGL', 'KJN'],
    'string1': ['YTE', 'PMH', 'IFQ', 'ZFZ', 'SJB']}},
  'name': 'one_hot_encoding'}]

In [123]:
df.isnull().sum()

number0    2
number1    1
number2    0
number3    2
number4    1
string0    1
string1    3
dtype: int64

In [131]:
list(df.dtypes.drop_duplicates().apply(str))

['float64', 'object']

In [132]:
list(data.dtypes=='object')

[False, False, False, False, False, True, True]

In [139]:
df.loc[:, data.dtypes=='object']

   string0 string1
0      ORF     GWY
1      ORF     DMB
2      CJL     TEC
3      ORF     TEC
4      ORF     CTM
5      ZQC     CTM
6     None     NAK
7      SFA     GWY
8      TOV     NAK
9      TOV     NAK
10     ZQC     TEC
11     CJL    None
12     ZQC     DMB
13     CJL     GWY
14     TOV     GWY
15     SFA     TEC
16     TOV    None
17     ORF    None
18     ZQC     TEC
19     ORF     CTM

In [148]:
p.one_hot()
p.data

AttributeError: 'Processor' object has no attribute 'one_hot_encoding'

In [3]:
dir(p)

NameError: name 'p' is not defined

In [29]:
isinstance('', str)

True

In [38]:
index = [each for each in (data.dtypes != 'object').reset_index() if each]
index

['index']

In [43]:
columns  = data.columns[data.dtypes != 'object']

In [44]:
data[columns]

      number0    number1    number2    number3    number4
0   39.330471  27.106251        NaN  67.711799   5.184150
1   45.766825  88.420873  10.586850  95.807650  29.778899
2   52.554874  99.689912  11.508171        NaN  95.960674
3   53.340088   8.239515        NaN   9.364997  14.811992
4   22.242694  48.056893        NaN  68.938977   9.886018
5   62.774192  57.252193  66.875941  95.911638  64.680019
6   51.686846  93.435203  46.222169  65.304520  23.100015
7   42.087984  20.649548  14.466570   5.030820  32.812148
8   77.318320  34.503699   7.084591  10.872170  14.567801
9   59.213985  12.080657  91.405206  80.179615   3.538845
10  88.107824  36.376836        NaN  58.973626  11.307251
11  82.704903  76.732222   6.669788  74.017800   9.212091
12  77.002705  59.243290  58.718419        NaN  22.322072
13  65.749977  78.584334  73.139931   7.461778   9.935011
14  98.878266  45.648665  76.150513  34.185620  79.546264
15  28.492346  52.998925   0.389599  48.992919        NaN
16  56.098049  67.680334  97.916350  59.831206        NaN
17  67.196946  81.158070  63.051388  46.130185  30.425955
18   7.864496  25.033367  30.334629   9.029322  74.003750
19  97.036025  60.508919  94.671160  47.653614  12.621395

In [49]:
dir(p)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'add_column',
 'data',
 'drop',
 'fill_missing',
 'normalize',
 'one_hot',
 'one_hot_encoding',
 'records',
 'redo']